body {
    font-family: "Roboto", sans-serif;
}

/*Header ........................................................................*/
header {
    background: #5F9EA0;
    padding: 15px;
    text-align: center;
}

.caixa-header {
    position: relative;
    width: auto;
    margin: 10px auto;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 5px;
    color: white;
}

header p {
    padding: 10px;
    font-size: 20px;
    color: white;
}

/*Main ........................................................................*/

.conteudo{
    width: 0 auto;
    margin: auto;
    padding:20px 15%;

}

.perguntas, .respostas {
    background: #81b6b8;
    margin: 15px auto;
    padding: 10px 10px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #1c3738;
    border-radius: 10px;
   
}

.perguntaNome, .perguntaAno {
    margin: 5px;
}

.perguntaNome p, .perguntaAno p{
    margin: auto;
    padding: 10px 0 10px;
    color: white;
    font-size: 18px;
}

#nomeUsuario, #anoQueNasceu {
    padding: 5px 30px;
    text-align: center;
    color: #2d5a5c;
    font-size: 16px;
    font-weight: bold;
}

.form-button {
    width: 30%;
    padding: 10px 0;
    background: #2d5a5c;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer
}

.form-button:hover {
    background: #28bec9;
    transform: scale(1.1)
}

.respostas p {
    padding: 5px;
    color: white;
    font-size: 18px;
}

.respostas li {
    padding: 2px;
    color: white;
    font-size: 16px;
}


/*Design responsivo........................................................*/

@media screen and (max-width: 480px) {
    .caixa-header {
        width: auto;
    }

    header h1 {
        font-size: 26px;
        padding: 15px 5px;
    }

    header p {
        padding: 4%;
        font-size: 16px;
    }

    .conteudo {
        margin: auto;
        padding: 2%; 
    }

    .perguntas, .respostas {
        margin: 5% 2%;
        padding: 4%;
        text-align: center;
        vertical-align: top;
    }

    #nomeUsuario, #anoQueNasceu {
        padding: 2% 0px;
    }

    .form-button {
        width: 60%;
        padding: 5% 10%;
    }

    .respostas p {
        margin: 3%;
        padding: 2% 1%;
        font-size: 14px;
    }
}