body {
    font-family: "Roboto", sans-serif;
}

/*Header ........................................................................*/
header {
    background: #5F9EA0;
    padding: 15px;
    text-align: center;
}

.caixa-header {
    position: relative;
    width: 940px;
    margin: 10px auto;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 5px;
    color: white;
}

header p {
    padding: 10px;
    font-size: 20px;
    color: white;
}

/*Main ........................................................................*/

.conteudo{
    width: auto;
    margin: 0 25%;
    padding:40px 25px;
    display: flex;
    align-items: center;
}

.perguntaNome, .perguntaAno{
    background: #81b6b8;
    display: block;
    margin: 1.2%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #1c3738;
    border-radius: 10px;
    background: #81b6b8;
}

.listaResultados {
    background: #81b6b8;
    width: 30%;
    margin: 20px 20%;
    padding: 25px 10px;
    display: flex;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}


.form-button {
    width: 70%;
    padding: 10px 0;
    background: #2d5a5c;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer
}

.form-button:hover {
    background: #52e8f0;
    color: black;
    transform: scale(1.2)
}

