body {
    font-family: "Roboto", sans-serif;
}

/*Header ........................................................................*/
header {
    background: #5F9EA0;
    padding: 15px;
    text-align: center;
}

.caixa-header {
    position: relative;
    width: 940px;
    margin: 10px auto;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 5px;
    color: white;
}

header p {
    padding: 10px;
    font-size: 20px;
    color: white;
}


/*Main ........................................................................*/
form {
    margin: 10px;
    padding: 10px;
    text-align:  center;
    display: block;
}

form legend, form label {
    padding: 25px 0 10px;
    display: block;
}

.perguntas-principais {
    width: 50%;
    margin: auto;
    display: block;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #336699;
    border-radius: 15px;
}
.input-padrao {
    padding: 5px;
    text-align: center;
}